body{
    margin: 0px;
    padding: 0px;
    background-color: whitesmoke;
}
.top {
    text-align: center;
    position: fixed;
    width: 100%;
    list-style-type: none;
    background-color:white ;
    padding: 0;
    overflow: hidden;
}

#chro{
    text-align: center;
    padding: 4px;
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: solid black 2px;
    border-radius: 4px;
    margin: 0px 40%;
}
#i0{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

#buuu{
    text-align: center;
    vertical-align:middle
}
img{
    width: 100%; 
    height: 15%;
}
li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
}
li a{
    text-decoration: none;
    display: inline-block;
    color: rgb(40, 131, 173);
    font-family: Apple Chancery, cursive ;
    font-weight: lighter;
    font-size: 25px;
    padding: 20px 20px;
}
li a:hover {
    color: black;
    text-shadow: 2px 2px 4px #9bb6da;
}
.cl-link::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(7, 7, 7);
    transition: width .3s;
}
.cl-link:hover::after{
    width: 100%;
    transition: width .3s;
}

/*-----------------*/
.par{
    line-height: 40px;
    font-family: Segoe Print;
    font-size: 23px;
    text-align: center;
    margin: 80px 2%;
}
.button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
    border-radius: 4px;
    background-color: #6dc6f0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin-bottom: 30px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover span {
    color: black;
    padding-right: 25px;
}
  
.button:hover span:after {
    color: black;
    opacity: 1;
    right: 0;
}

/*--------------------------------------------*/
.div2{
    text-align: center;
    /*margin-right: 120px;*/
    margin-top: 40px;
}

.div1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(214, 225, 230); 
    color: black; 
    border: 2px solid #171b1d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 20px;
}
.div1:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*-------------------------*/
.fp{
    margin-top: 40px;
    font-size: 18px;
    text-align: center;
    font-family: Segoe Print;
}
